/* Style for the quiz popup container */
#quiz-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black background */
    color: #fff;
    /* White text */
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
    /* Ensure it is on top of other content */
    overflow-y: auto;
    /* Allow scrolling if the content overflows */
}

/* Style for the loader (e.g., a loading spinner) */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
}

/* Style for the quiz content (questions, answers, etc.) */
#quiz-popup h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style for the questions and answers */
#quiz-popup p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for the answer options */
#quiz-popup label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}

/* Style for the buttons (Next Question, Submit Quiz) */
#quiz-popup button {
    background-color: #4CAF50;
    /* Green button color */
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#quiz-popup button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

/* Style for the registration form */
#registration-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

#registration-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#registration-form button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#registration-form button:hover {
    background-color: #0056b3;
}

/* Style for the result section */
#quiz-popup .result p {
    font-size: 18px;
    margin-bottom: 15px;
}

#loader,
#import-loader {
    font-weight: bold;
    color: #0073aa;
    margin-top: 10px;
}